<ng-container *ngIf="pokemon">
  <h1 class="my-3">{{ pokemon.name }}</h1>
  <div class="row justify-content-center">
    <div class="col-2">
      <img class="img-thumbnail border-0" src="{{ pokemon | pokemoneImage }}" [alt]="pokemon.name" />
    </div>
    <h2 class="my-3">Informations</h2>
    <ul class="list-group">
      <ng-container *ngFor="let item of $any(pokemon) | keyvalue">
        <li class="list-group-item" *ngIf="item.key !== 'name'">
          <b>{{ item.key }}</b
          >: {{ item.value }}
        </li>
      </ng-container>
    </ul>
  </div>
</ng-container>
