<div class="col-md-12" style="overflow-y: auto">
  <form formGroup="pokemonsForm">
    <div class="row">
      <div class="col-md-6 mr-3">
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
      </div>

      <div class="col-md-6">
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
        <input class="form-control" type="text" name="" id="" />
      </div>
    </div>
  </form>

  <button (click)="onAddBtnClick()" class="btn btn-success form-control">Ajouter</button>
</div>
